<div class="full_column">
  <br><br>
  <h3>Welcome to the media manager, where you can, well... manage some media.</h3>
  <br><br>
</div>

<div class="one_half" id="pictures_home">
  <h1>Pictures!</h1>

  <p>&nbsp;<a href="/pictures">View All</a></p>

  <p>&nbsp;<a href="/pictures/new">Add New</a></p>
</div>

<div class="one_half" id="videos_home">
  <h1>Videos!</h1>

  <p>&nbsp;<a href="/videos">View All</a></p>

  <p>&nbsp;<a href="/videos/new">Add New</a></p>
</div>