/*
	STYLE.CSS:
	One stylesheet to rule them all.
	
	selector { property:value }

*/

/* ----- =structure ----- */
html, body {
    height: 100%
}

body {
    background-color: lightskyblue;

}

#header_container,
#nav_container,
#content_container,
#footer_container {
    margin: auto;
    width: 960px;
    padding: 1em;
}

header {
    background-color: #336699;
    color: white;
}

nav {
    background-color: red;
    overflow: hidden;
}

#content_container {
    background-color: white;
    padding: 2em;
    height: 80%;
    margin: 0 auto 0 auto;
}

footer {
    background-color: #585858;
    color: #ffffff;
}

#video_form td + td {
    width: 300px;
}

#video_form td {
    padding: .5em 1em .5em 0em;
    vertical-align: top;
}

.wide input[type=text], .wide textarea {
    width: 100%;
}

.wide textarea {
    height: 100px;
}

/*image styling*/

.thumbnail {
    max-width: 280px;
}

/* ----- =columns ----- */

.one_half {
    width: 460px;
}

#left_side {
    padding-left: 60px;
    padding-top: 15px;
}

#right_side {
    float: right;
    padding-right: 100px;
    padding-top: 15px;
}

.one_third {
    width: 300px;
}

.two_third {
    width: 620px;
}

.one_fourth {
    width: 220px;
}

.three_fourth {
    width: 700px;
}

.full_column {
    width: 940px;
}

#notice {
    padding-left: 60px;
    padding-top: 40px;
}

.one_half, .one_third, .two_third, .three_fourth, .one_fourth, .full_column {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    float: left;
}

.resetColumnSet {
    clear: both;
}

/* ----- =menu (Primary Nav) ----- */

#menu {
    float: right; /* or float: left */
    margin: 0 10px 0 0;
}

#menu li {
    float: left;
    list-style: none;
}

#menu li a {
    font-size: 120%;
    font-weight: bold;
    color: #fff;
    padding: 17px 25px 15px 25px;
    display: block;
    text-decoration: none;
}

#menu li a:hover {
    color: #fff;
    background-color: #3b2c2c;
}

/*Borders between each button */
#menu li + li {
    border-left: 1px solid #000;
}

/*Borders on both sides */
#menu li:first-child a {
    border-left: 1px solid #000;
}

#menu li:last-child a {
    border-right: 1px solid #000;
}



