<!DOCTYPE html>
<html>
<head>
  <title>FloralViolet</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header id="header_container">
  <div id="nav-container">
    <div id="left-nav-links">
      <a href="/">Media Manager</a>
    </div>
    <div id="right-nav-links">
      <p><a href="/pictures">All Pictures</a> |
      <a href="/videos">All Videos</a></p>
    </div>
    <div class="resetColumnSet"></div>
  </div>
</header>
<div id="content_container"><%= yield %></div>
<footer>
  <div id="footer_container">Not Copyrighted At All</div>
</footer>
</body>
</html>
